@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,800;1,600;1,800&display=swap');
* {
	font-family:Nunito, Arial, Helvetica, sans-serif;
	color: #4b4b4b;
	}
@media screen and (max-width: 550px) {
	body {
		max-width: none;
		width: 100%;
	}
}
body {
	max-width: 500px;
	margin: auto;
	padding: 24px 0;
	}
p {text-indent: 2em; margin:0 10px;}
button{
	border: solid #e5e5e5 2px;
	border-radius: 12px;
    box-shadow: 0 4px #e5e5e5;
	background-color: white;
	color: #4b4b4b;
	cursor: pointer;
	transition-duration: 0.1s;
	padding: 12px;
	margin: 2px;
	display: block;
	text-align: center;
	}
button:active {
    box-shadow: 0 -0px;
	transform: translateY(4px);
	}
#check {
	margin-top: 20px;
	background-color: #58cc02;
	border: solid #58a700 2px;
	box-shadow: 0 4px #58a700;
	color: #fff;
	min-width: 150px;
	width: 100%;
	height: 50px;
	margin:10px 0;
	}
#check:active {
    box-shadow: 0 -0px;
	}
#check:disabled {
	background-color: #afafaf;
	border: solid #777 2px;
    box-shadow: 0 4px #777;
	}
#wrong, #right {
	bottom: 0;
    left: -100%;
    padding: 24px 16px 72px;
    position: fixed;
    right: 100%;
	transition-duration: 0.1s;
	height:20px
	}
#wrong {
	background-color: #ffdfe0;
    color: #ea2b2b;
	}
#right {
	background-color: #d7ffb8;
    color: #58a700;
	}
#next, #retry {
	min-width: 150px;
	width: 100%;
	height: 50px;
	display:block;
	}
#next {
	background-color: #58cc02;
	border: solid #58a700 2px;
	box-shadow: 0 4px #58a700;
	color: #fff;
	}
#retry {
	background-color: #ff4b4b;
	border: solid #ea2b2b 2px;
	box-shadow: 0 4px #ea2b2b;
	color: #fff;
	}

	a {
		text-decoration: none;
		border-bottom: dashed 2px #e5e5e5;
		transition-duration: 0.1s;
	}
	a:link {color: #2b70c9;}
	a:hover {border-color:#1cb0f6;}
	a:active {border-color:#ce82ff;color:#9069cd}
	a:visited {color:#9069cd}

	u{
		text-decoration:none;
		border-bottom: dashed 2px #e5e5e5
	}
	.junior {
		color:#1cb0f6;
		font-weight: bold;
		font-family: inherit;
	}
	.lily {
		color:#9069cd;
		font-weight: bold;
		font-family: inherit;
		border-bottom: dashed 2px #ce82ff
	}

	table {
		margin: 24px 0;
		width: 100%;
		background: #fff;
		border-spacing: 0px;
		border: solid 1px #e5e5e5;
		border-radius: 16px;
		table-layout:fixed;
		}
	td, th {line-height: 20px;padding: 2px;}
	th {
		background: #1cb0f6;
		border: solid 2px #1cb0f6;
		color: #fff;
		white-space: nowrap
		}
	td {border: solid 1px #e5e5e5}
	tr:first-child *:first-child {border-radius: 16px 0 0 0;}
	tr:first-child *:last-child {border-radius: 0 16px 0 0;}
	tr:last-child *:first-child {border-radius: 0 0 0 16px;}
	tr:last-child *:last-child {border-radius: 0 0 16px 0;}

	.bigPic{
		border-radius: 24px; border:solid 2px #afafaf; display:block; margin:auto;
		width:auto;
		height:230px;}

#blankQuiz, #letterQuiz, #picQuiz, #top, #bottom{
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	}
#sceneQuiz{
		display:flex;
		flex-direction: column;
		flex-wrap:nowrap;
		justify-content: center;
		}
button > img {
	height:80px
	} 
.wordCard, .soundCard, .sentenceCard {
	text-align: center;
	}
.soundCard {margin: 12px;width:60px;}
.wordCard:hover, .soundCard:hover, .matchCard:hover, .picCard:hover, .sentenceCard:hover {
	background-color: #ddf4ff;
	border: solid #84d8ff 2px;
    box-shadow: 0 4px #84d8ff;
	color: #1899d6;
	}
.wordCard:active, .soundCard:active, .matchCard:active, .picCard:active, #letterCard:active, .sentenceCard:hover {box-shadow: 0 0;}
.wordCard:focus, .soundCard:focus, .matchCard:focus, .picCard:focus, .sentenceCard:focus {
	background-color: #ddf4ff;
	border: solid #84d8ff 2px;
    box-shadow: 0 0px #84d8ff;
	color: #1899d6;
	transform: translateY(4px);
	}
#letterCard{
	margin:auto;
	width:300px; height:200px; 
	padding: 0px auto;
	font-size:900%;
	text-align: center;
	background-color: #1cb0f6;
	border: solid #1899d6 2px;
	box-shadow: 0 4px #1899d6;
	color: #fff;
	}
.matchCard, .matchCardR {
	width: 130px;
	height: 50px;
	padding: 4px;
	margin: 10px 20px;
	text-align: left;
}
.matchCardR:disabled {
	background-color: #e5e5e5;
	border-color: #afafaf;
	box-shadow: 0 4px #afafaf;
}
.cardNum {
	display: inline-block;
	min-width: 18px;
	border: solid #e5e5e5 1px;
	border-radius: 5px;
	margin-right: 8px;
	text-align: center;
}
.picCard {
	width:120px; height:120px; 
	padding: 12px;
	margin: 12px;
	text-align: center;
	}
#top{
	min-height: 60px;
	border-bottom: 2px solid #e5e5e5;
    width: 100%;
	align-items:flex-end;
	padding-bottom:4px;
}
.sentenceCard {
	margin-bottom: 6px;
	}

#pointy {
		background-color: #fff;
		border-left: 2px solid #e5e5e5;
		border-bottom: 2px solid #e5e5e5;
		border-radius: 2px;
		transform: translateY(32px) rotate(45deg);
		  transform-origin: top left;
		height: 13px;
		width: 13px;
		}
#dialogueBox {
	background-color: #fff;
	border: 2px solid #e5e5e5;
	border-radius: 15px;
	padding: 6px 12px;
	line-height: 39px;
	font-size: 15px;
	}
#charPic{height:169px;}


@font-face{font-family: 'Conlingo'; src:url("./Patchélogue Nunito.woff2") format('woff2');}
#dialoguebox, #letterCard, #leftCards > .matchCard > span, #blankQuiz > .wordCard, .picCard, .picCard > div, .blankQuiz, .sentenceCard, .conlang {
	font-family:'Conlingo';
	font-variant-ligatures: common-ligatures;
	-moz-font-feature-settings: "liga", "lfin", "punc";
	-webkit-font-feature-settings: "liga", "lfin", "punc";
	font-feature-settings: "liga", "lfin", "punc";
	}
