@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,600;0,800;1,600;1,800&display=swap');
* {font-family:Nunito, Arial, Helvetica, sans-serif}
body {
	max-width: 500px;
	margin: auto;
	padding: 24px 0;
	}
p {text-indent: 2em;}
button{
	border: solid #e5e5e5 2px;
	border-radius: 12px;
    box-shadow: 0 4px #e5e5e5;
	background-color: white;
	color: black;
	cursor: pointer;
	transition-duration: 0.1s;
	padding: 12px;
	margin: 2px;
	display: block;
	text-align: center;
	}
button:active {
    box-shadow: 0 -0px;
	transform: translateY(4px);
	}
#check {
	margin-top: 20px;
	background-color: #58cc02;
	border: solid #58a700 2px;
	box-shadow: 0 4px #58a700;
	color: #fff;
	min-width: 150px;
	width: 100%;
	height: 50px;
	}
#check:active {
    box-shadow: 0 -0px;
	}
#check:disabled {
	background-color: #bbb;
	border: solid grey 2px;
    box-shadow: 0 4px grey;
	}
#wrong, #right {
	bottom: 0;
    left: -100%;
    padding: 24px 16px 72px;
    position: absolute;
    right: 100%;
	transition-duration: 0.1s;
	height:20px
	}
#wrong {
	background-color: #ffdfe0;
    color: #ea2b2b;
	}
#right {
	background-color: #d7ffb8;
    color: #58a700;
	}
#next, #retry {
	min-width: 150px;
	width: 100%;
	height: 50px;
	display:block;
	}
#next {
	background-color: #58cc02;
	border: solid #58a700 2px;
	box-shadow: 0 4px #58a700;
	color: #fff;
	}
#retry {
	background-color: #ff4b4b;
	border: solid #ea2b2b 2px;
	box-shadow: 0 4px #ea2b2b;
	color: #fff;
	}

	table {
		margin: 24px 0;
		table-layout: fixed;
		width: 100%;
		background: #fff;
		border-spacing: 0px;
		border: solid 1px #e5e5e5;
		border-radius: 16px
		}
	td, th {line-height: 22px;}
	th {
		background: #1caff6;
		border: solid 2px #1caff6;
		color: #fff;
		}
	td {border: solid 1px #e5e5e5;}
	th:first-child {border-radius: 16px 0 0 0;}
	th:last-child {border-radius: 0 16px 0 0;}
	tr:last-child td:first-child {border-radius: 16px 0 0 0;}
	tr:last-child td:last-child {border-radius: 0 16px 0 0;}
	tr:last-child td:first-child {border-radius: 0 0 0 16px;}
	tr:last-child td:last-child {border-radius: 0 0 16px 0;}